@model BusinessLayer.Auth.Models.NewAccountForm
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EBeauty - @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/css/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>

<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
            <h1 class="font-weight-semi-bold mb-3">Create A New Account and Start Shopping Today!</h1>
            <div class="d-inline-flex">
                <p class="m-0">Do you have an account? You can login by <a href="@Url.Action("Index", "Login")">clicking here.</a></p>
            </div>

        </div>
    </div>

    <div class="row justify-content-center ">
        <p class="m-0 font-weight-semi-bold">Please fill the fields correctly in order to avoid delivery problems in your next purchases.</p>

    </div>

    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="row justify-content-center ">
            <p class="text-danger">@ViewBag.ErrorMessage</p>

        </div>
    }

    <div class="container-fluid pt-5">
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-8">
                <form action="@Url.Action("Index", "Register")" method="post">
                    <div class="mb-4">
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                <input asp-for="FirstName" class="form-control" type="text" placeholder="Ezgi">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                <input asp-for="LastName" class="form-control" type="text" placeholder="Çiftçil">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input asp-for="Email" class="form-control" type="email" placeholder="example@gmail.com">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control" type="text" placeholder="0530 330 30 30">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Password</label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Password Repeat</label>
                                <input asp-for="PasswordRepeat" class="form-control" type="password" placeholder="Password Repeat">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input asp-for="IsAddressWanted" type="checkbox" class="custom-control-input" id="shipto">
                                    <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">I want to save my shipping adress information.</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="collapse mb-4" id="shipping-address">
                        <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <select asp-for="Country" class="custom-select">
                                    <option selected>Turkey</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                <select asp-items="@ViewBag.cities" asp-for="CityId" style="width: 100%" class="form-control select2-">
                                    <option disabled selected hidden>Select City</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Street</label>
                                <input asp-for="Street" class="form-control" type="text" placeholder="Street">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Postal Code</label>
                                <input asp-for="PostalCode" class="form-control" type="text" placeholder="Postal Code">
                            </div>
                            <div class="col align-self-center form-group">
                                <label>Address Description</label>
                                <input asp-for="AddressDesc" class="form-control" type="text" placeholder="Please write your full address correctly.">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-self-center">
                            <button type="submit" class="btn btn-primary btn-block">Create a New Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/js/jqBootstrapValidation.min.js"></script>
    <script src="~/js/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>

</html>