@model ProductsOfCategoryModel
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">@Model.CategoryName</h1>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <div class="row justify-content-center ">
        @{ if (ViewBag.IsSucceed)
            {
                {
                    <p class="m-0 font-weight-semi-bold text-success">@ViewBag.Message</p>
                }
            }
            else
            {
                {
    <p class="m-0 font-weight-semi-bold text-danger">@ViewBag.Message</p>
                }
            }

        }
    </div>
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">
                    Categories
                </h5>
                @foreach (var category in Model.Categories)
                {
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="@Url.Action("Index", "Product", new { categoryId = category.CategoryId, categoryName= category.CategoryName})" class="nav-item nav-link">
                            <label class="custom-control-label" for="size-all">@category.CategoryName</label>
                        </a>
                    </div>
                }

            </div>
        </div>

        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">

                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="@Url.Action("Detail", "Product", new { productId=product.ProductId})"><img class="img-fluid w-100" src="@Url.Content(product.ImageUrl)" alt=""></a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">@product.ProductName</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>$@product.Price </h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="@Url.Action("AddItemFromCategory", "WishList", new { productId = product.ProductId})" class="btn btn-sm text-dark p-0"><i class="fas fa-heart text-primary mr-1"></i>Add Wishlist</a>
                                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

@section scripts{
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/easing.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>


    <!-- Contact Javascript File -->
    <script src="~/js/jqBootstrapValidation.min.js"></script>
    <script src="~/js/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
}

